@import './common.scss';

.cart{
    background-color: #fff;
    border: 0.04rem solid transparent;
    transition: all .1s linear;

    .img-container{
        position: relative;
        overflow: hidden;

        .cart-img-top{
            width: 100%;
            transition: all .1s linear;
        }

        .cart-btn{
            background-color: $lightBlue;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.2rem 0.4rem;
            border: 0;
            color: $mainWhite;
            font-size: 1.4rem;
            border-radius: 0.5rem 0 0 0;
            transform: translate(100%, 100%);
            transition: all .1s linear;

            &:hover{
                color: $mainDark;
            }
        }

        &:hover{
            .cart-img-top{
                transform: scale(1.2);
            }
            .cart-btn{
                transform: translate(0, 0);
            }
        }
    }

    .card-footer{
        background-color: transparent;
        border-top: transparent;
        transition: all .1s linear;

        &:hover{
            background-color: #fff;
        }
    }

    &:hover{
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    }
}